<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: </div>
  <div><%= flight.airline %></div>
  <div>Airport: </div>
  <div><%= flight.airport %></div>
  <div>Flight Number: </div>
  <div><%= flight.flightNu %></div>
  <div>Departs: </div>
  <div><%= flight.departs %></div>
  <!-- start cast list -->
  
<h2>Details</h2>
<form id="add-review-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Arrival:</label>
  <input type="datetime-local" name="arrival">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
	<option value="DFW">DFW</option>
	<option value="DEN">DEN</option>
	<option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
<table>
    <thead>
      <tr>
        <th>Arrival</th>
        <th>Airport</th>
      </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.arrival %></td>
            <td><%= d.airport %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations</h5>
  <% } %>

    <%- include('../partials/footer') %>